<div class="center">
  <div class="row">
  <% @bars.each do |bar| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(bar.bar.thumb.url), bar %>
          <div class="caption">
            <h3><%= link_to bar.name.capitalize, bar %></h3>
            <p>Location:<%= bar.address.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
