<div class="lp-home-banner-contianer">
			<div class="lp-home-banner-contianer-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 text-center">
							<p class="lp-banner-browse-txt">Browse Anything!</p>
							<h1>Discover your City</h1>
							<br>
							<br>
							<%= form_tag search_path, method: :get, class: "navbar-form navbar-center" do %>
							<p>
							  <%= hidden_field_tag :section, params[:section], value: "all" %>
							  <%= text_field_tag :q, params[:q], class: "form-control" %>
							  <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
							</p>
						  <% end %>
						</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>